$defaultNavSize: 3em;
#hero-navbar {
    width: 100%;
    height: $defaultNavSize;
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0.9 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.hero-navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}
.hero-navbar-config {
    font-size: 1.6em;
}
.hero-theme-list {
    position: absolute;
    right: 0;
    top: $defaultNavSize - 0.1em;
    width: 5em;
    padding: 1vh;
}
@mixin bgImage($img) {
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
}
.hero-icon-container {
    display: flex;
    justify-content: space-around;
    height: 3vh;
    a { 
        display: block;
        width: 3vh;
        height: 100%;
        &:first-child {
          @include bgImage("/assets/day.svg");
          background-size: cover;
        }
        &:last-child {
          @include bgImage("/assets/night.svg");
        }
    }
}
