<div class="{{theme?.card}} hero-card-container" *ngIf="hero">
    <a class="hero-favorite" (click)="updateFavorite()">
        <fa name="fas fa-star" [class]="hero.favorite ? 'hero-card-star-favorite' : 'hero-card-star' "></fa>
    </a>
    <a class="{{theme?.buttons}} hero-information" (click)="heroInformation()">
        <fa name="fas fa-info-circle"></fa>
    </a>
    <figure *ngIf="hero && hero.image" class="hero-avatar-container">
        <img class="hero-avatar" [src]="hero.image.url" alt="hero" (error)="updateUrlImage($event)">
        <figcaption class="hero-avatar-label">{{hero.name}}</figcaption>
    </figure>
    <table *ngIf="hero && hero.powerstats" class="hero-card-description">
        <tr>
            <td>Poder</td>
            <td>{{formatField(hero?.powerstats.power)}}</td>
        </tr>
        <tr>
            <td>Força</td>
            <td>{{formatField(hero?.powerstats.strength)}}</td>
        </tr>
        <tr>
            <td>Combate</td>
            <td>{{formatField(hero?.powerstats.combat)}}</td>
        </tr>
        <tr>
            <td>Inteligência</td>
            <td>{{formatField(hero.powerstats.intelligence)}}</td>
        </tr>
        <tr>
            <td>Velocidade</td>
            <td>{{formatField(hero?.powerstats.speed)}}</td>
        </tr>
        <tr>
            <td>Resistencia</td>
            <td>{{formatField(hero?.powerstats.durability)}}</td>
        </tr>
    </table>
</div>