.hero-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.hero-login-box {
    $facebook: #4267b2;
    $google: #f7f7f7;
    padding: 1em;
    width: 50%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        border:none;
        width: 100%;
        padding: 2vh 1vh 2vh 1vh;
        margin-top: 1vh;
        border-radius: 9999em;
        display: flex;
        justify-content: space-around;
        font-size: 1.2em;
        max-width: 300px;
    }
    button:hover {
        border:none;
        outline: none;
    }
    #facebook-button {
        background: $facebook;
        color: white;
    }
    #google-button{
        color: red;
        background: $google
    }
}
@media only screen and (max-width: 400px) {
    .hero-login-box {
        width: 80%;
    }
}