/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
/* light definitions color */
$bgLight: #00ABE7;
$txtLight: black;

/* dark definitions color */
$bgDark: black;
$txtDark: white; 

.theme-light {
    background: $bgLight 
}
.theme-dark {
    background: $bgLight;
    color: white;
}
