/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
/* light definitions color */
$bgLight: white;
$bgLightButtons: #00ABE7;
$bgLightCard: white; 
$txtLight: black;

/* dark definitions color */
$bgDark: black;
$bgDarkButtons: #00f260;
$bgDarkCard: #363636;
$txtDark: white; 

.theme-light {
    background: $bgLight 
}
.theme-light-buttons {
    background: $bgLightButtons;
    color: $txtLight;
    border-bottom: 2px solid $txtLight !important;
}
.theme-light-buttons:focus, .theme-light-navbar::after {
    border-color: $bgLightButtons !important;
}
.theme-light-card {
    background: $bgLightCard;
    color: $txtLight;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.theme-light-navbar {
    background: $bgLightButtons;
    color: $txtLight;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.theme-dark {
    background-color: $bgDark;
    background: $bgDark;
    color: $txtDark;
}
.theme-dark-buttons {
    background: $bgDarkButtons;
    color: $txtDark;
}
.theme-dark-buttons:focus, .theme-dark-navbar::after {
    border-color: $bgDarkButtons !important;
}
.theme-dark-card {
    background: $bgDarkCard;
    color: $txtDark;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
}
.theme-dark-navbar {
    background: $bgDarkButtons;
    color: black;
    box-shadow: 0px 4px 4px 1px rgba(255, 255, 255, 0.2);
    border-color: $bgLightButtons !important
}
.hero-clear {
    height: 12vh;
}
